$font-family-primary: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 22px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-2xl: 40px;
$font-size-3xl: 48px;
