@use '../styles/utils/' as *;

.benefits {
  display: grid;
  gap: 32px;

  .title {
    text-align: left;
  }

  &__content {
    display: grid;
    gap: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding-left: 0;
  }

  &__item {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 1.4;
    color: #292929;
  }

  &__text {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: 27px;
    max-width: 40ch;
  }

  @include respond-up(744px) {
    grid-template-columns: repeat(2, 411px);
  }
}
