.category-card {
  display: block;
  text-decoration: none;
  color: #000;

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
  }

  &--offset-left .category-card__image:first-child {
    object-position: 75% 50%;
  }

  &--offset-right .category-card__image:last-child {
    object-position: 93% 50%;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 16px;
  }
}
