@use '../styles/utils/' as *;

.contact {
  display: grid;
  gap: 48px;

  &__content {
    display: grid;
    gap: 48px;

    @include respond-up(744px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include respond-up(1260px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 198px;
    }
  }

  &__info {
    display: grid;
    gap: 24px;
    align-self: start;
    font-style: normal;
  }

  &__item {
    display: grid;
    gap: 8px;
  }

  &__label {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: 1.4;
    color: #9fadc2;
  }

  &__address {
    cursor: pointer;
  }

  &__link,
  &__address {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: 1.4;
    text-decoration: none;
    color: #3e3e3e;
  }

  &__link:hover,
  &__address:hover {
    color: #00aaef;
  }
}
