@use '../styles/utils' as *;

.footer {
  &__image {
    display: block;
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    object-position: center;
  }

  @include respond-up(744px) {
    &__image {
      min-height: 400px;
      object-position: top;
    }
  }

  @include respond-up(1260px) {
    &__image {
      height: 460px;
    }
  }
}
