@use '../styles/utils' as *;

.form-contact {
  display: grid;
  gap: 16px;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &__label {
    &:not(:focus, :active) {
      @include visually-hidden;
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    background-color: #f8f8fa;
    color: #7e7e83;
    border-style: none;
  }

  &__input {
    padding-block: 14px;
    padding-inline: 16px;
    border-radius: 40px;
  }

  &__textarea {
    padding: 10px;
    border-radius: 16px;
    min-height: 148px;
  }

  &__button {
    margin-top: 16px;
    cursor: pointer;
  }
}
