.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;

  &__logo {
    cursor: pointer;
    max-width: 125px;
  }

  &__actions {
    display: flex;
    gap: 24px;
  }

  &__call,
  &__menu-toggle {
    cursor: pointer;
    max-width: 24px;
  }

  &__menu-toggle {
    background: none;
    padding: 0;
    border: none;
  }
}
