@use '../styles/utils/' as *;

.hero {
  height: 100vh;
  background-image: url(../images/woman-listening-to-music.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  padding-inline: 20px;
  padding-bottom: 40px;

  @include respond-up(744px) {
    padding-inline: 72px;
    padding-bottom: 64px;
    background-position: 50% 60%;

    &__sound-waves-pic {
      width: 63px;
      height: 76px;
    }
  }

  @include respond-up(1260px) {
    padding-inline: 120px;
  }
}
