@use '../styles/utils/' as *;

.product-card {
  width: 100%;
  max-width: 280px;

  &__title {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 32px;
  }

  &__type {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 8px;
  }

  &__price {
    font-family: Inter, sans-serif;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 12px;
  }

  @include respond-up(744px) {
    max-width: 392px;
  }

  @include respond-up(1260px) {
    max-width: 324px;
  }
}
