.product-card {
  &__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__type {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__price {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
  }
}
