@use '../styles/utils/' as *;

.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include respond-up(744px) {
    gap: 64px;
  }

  @include respond-up(1260px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
