@use '../styles/utils/' as *;

.section {
  padding-top: 96px;
  padding-inline: 20px;

  &--first {
    padding-top: 64px;
  }

  &--last {
    padding-inline: 0;
  }

  @include respond-up(744px) {
    padding-top: 120px;
    padding-inline: 72px;

    &--first {
      padding-top: 120px;
    }
  }

  @include respond-up(1260px) {
    padding-inline: 120px;
  }
}
