@use '../styles/utils/' as *;

.title {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-style: Italic;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1.5px;
  vertical-align: middle;

  &__line {
    display: flex;
    flex-direction: column;
  }

  &--secondary {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;
  }

  @include respond-up(744px) {
    font-size: 40px;
  }

  @include respond-up(1260px) {
    font-size: 48px;
  }
}
